.mainDivBorder {
    border-top: 2px dashed transparent;
    border-bottom: 2px dashed transparent;
    border-image-source: repeating-linear-gradient(
      to right,
      #d2b48c 0px,
      #d2b48c 18px,
      transparent 18px,
      transparent 40px
    );
    border-image-slice: 1;
    border-image-repeat: stretch;
    width: 100%;
  }
  
  @media only screen and (max-width: 700px) {
    .mainDivBorder {
      position: relative;
      border: none;
      border-image-source: none;
      width: 90%;
      padding: 34px; /* Increased padding for mobile */
      /* Top border */
      background-image: repeating-linear-gradient(to right, #d2b48c 0px, #d2b48c 18px, transparent 18px, transparent 40px),
        /* Right border */
        repeating-linear-gradient(to bottom, #d2b48c 0px, #d2b48c 18px, transparent 18px, transparent 40px),
        /* Bottom border */
        repeating-linear-gradient(to right, #d2b48c 0px, #d2b48c 18px, transparent 18px, transparent 40px),
        /* Left border */
        repeating-linear-gradient(to bottom, #d2b48c 0px, #d2b48c 18px, transparent 18px, transparent 40px);
      /* Top border */
      background-position: top 0 left 0, /* Right border */ top 0 right 0, /* Bottom border */ bottom 0 left 0, /* Left border */
        top 0 left 0;
      /* Top border */
      background-size: 100% 1px, /* Right border */ 1px 100%, /* Bottom border */ 100% 1px, /* Left border */ 1px 100%;
      background-repeat: no-repeat;
    }
  }
  