@tailwind base;
@tailwind components;
@tailwind utilities;



.robo::placeholder {
    font-family: "Roboto Flex", sans-serif;
  }
  

  .robo{  
    font-family: "Roboto Flex", sans-serif;
  }

  .instrument-san{
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }


  @font-face {
    font-family: 'bolkit';
    src: url('/public/assets/Fonts/Bolkit.ttf') format('truetype');
  }

  .bolkit{
    font-family: bolkit;
  }

  body{
    background-color: #FAFAFA;
  }

  .poppins{
    font-family: "Poppins", sans-serif;
  }


  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }


  .alice{
    font-family: "Alice", serif;
  }


  .inter{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
  }

  .roboto-flex{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .metamorphous-regular {
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* @theme {
    --breakpoint-md: 30rem;
    
  } */